header {
    background-color: white;
    width: 100%;
    height: 70px;
    border-bottom: solid 1px #CCCCCC;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position-y: center;
    /* background-position-x: 33px;  not important to use  */
    background-position: left;
}
